body {
    font-family: "Arial", sans-serif;
    background-color: #F9FAFB;
    margin: 0;
    padding: 20px;
  }
  
  .pricing-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    
  }
  
  .pricing-features {
    flex: 1 1 280px;
    background-color: white;
    border-radius: 12px;
    max-width: 400px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  }
  
  .plan-title {
    background-color: #2563EB;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 15px;
    color: white;
    padding: 10px;
    margin-bottom: 15px;
    
  }
  
  .plan-price {
    color: #2563EB;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .plan-description {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
  }
  
  

  .plan-description li {
    margin-bottom: 20px;
    color: #374151;
  }
  
  .signup-btn {
    background-color: #2563EB;
    border: 0;
    border-radius: 8px;
    text-align: center;
    color: white;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
  
  }
  
  .signup-btn:hover {
  background-color: #1D4ED8;
}


@media (max-width: 800px) {
  .pricing-container {
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
  }

  .pricing-features {
    width: 90%;
    max-width: 90%;/* fills most of the screen width */
  }
}